<header id="header">
    <div class="row">
    	<nav class="navgation">
    		<ul>
    			<li class="navbar-brand"><span>豆瓣电影</span></li>
    			<li><a href="#">lake</a></li>
    			<li><a href="#">lake</a></li>
    			<li><a href="#">lake</a></li>
    		</ul>
    	</nav>
    </div>
</header>